<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<body>
{% include "nav.html" %}
<div class="main-page">
    <div class="page_title">{{title}}</div>
    <form action="/integrations/authorize/hubspot" method="post">
        {% csrf_token %}
        <h4>Prerequisite</h4>
        You need to have the following data ready:<br/><br/>
        <ul>
            <li>Client Id</li>
            <li>Client Secret</li>
        </ul>
        <br/>
        To get "client id" and "client secret", please create a HubSpot developer account: <a
            href="https://developers.hubspot.com/docs/api/overview" target="_blank">here</a>. <br/><br/>

        <h4>Connect</h4>

        <a href="#" onclick="show_single();return false;"> Connect my company's HubSpot instance</a><br/>
        <a href="#" onclick="show_multiple();return false;"> Connect my customers' HubSpot instances</a>
        <br/> <br/>
        <div class="hide_element" id="single">
            <span style="color:red">Add</span> "http://localhost:8000/integrations/oauth-callback/hubspot" to redirect_uri field in your developer account.

            <br/> <br/>

            <label for="client_id"><span style="color:red">*</span> Client Id:</label>
            <input id="client_id" type="text" name="client_id" value="{{ client_id }}" class="form-control"
                   style="max-width:300px">
            <label for="client_secret"><span style="color:red">*</span> Client Secret:</label>
            <input id="client_secret" type="text" name="client_secret" value="{{ client_secret }}" class="form-control"
                   style="max-width:300px">
            <br/>

            <h4>Connect objects: </h4>

            <input type="checkbox" name="object_scopes"
                   value="crm.schemas.companies.read crm.objects.companies.read crm.objects.companies.write" checked/>
            Company
            <br/>
            <input type="checkbox" name="object_scopes"
                   value="crm.schemas.contacts.read crm.objects.contacts.read crm.objects.contacts.write" checked/>
            Contact
            <br/>
            <input type="checkbox" name="object_scopes"
                   value="crm.schemas.deals.read crm.objects.deals.read crm.objects.deals.write" checked/>
            Deal
            <br/>
            <input type="checkbox" name="object_scopes"
                   value="sales-email-read files" checked/>
            Engagement
            <br/>
            <input type="checkbox" name="object_scopes" value="e-commerce"/>
            Product
            <br/>
            <br/>
            <input class="btn" type="submit" value="Connect">
        </div>

        <div class="hide_element" id="multiple">

            <span style="color:red">Add</span> your custom app callback url (i.e. https://example.com/callback) to redirect_uri field in your developer
            account.
            <br/> <br/>
            <h4>Scopes: </h4>

            <input type="checkbox" name="generate_object_scopes"
                   value="crm.schemas.companies.read crm.objects.companies.read crm.objects.companies.write" checked/>
            Company
            <br/>
            <input type="checkbox" name="generate_object_scopes"
                   value="crm.schemas.contacts.read crm.objects.contacts.read crm.objects.contacts.write" checked/>
            Contact
            <br/>
            <input type="checkbox" name="generate_object_scopes"
                   value="crm.schemas.deals.read crm.objects.deals.read crm.objects.deals.write" checked/>
            Deal
            <br/>
            <input type="checkbox" name="generate_object_scopes"
                   value="sales-email-read files" checked/>
            Engagement
            <br/>
            <input type="checkbox" name="generate_object_scopes" value="e-commerce"/>
            Product
            <br/> <br/>  <div style="font-style: italic"> Use scope string for api call</div><br/>
            <div id="scopes" style="background-color:#eeeeee"></div><br/>
            <input class="btn" type="button" value="Generate scopes string" onclick="generate_scope('{{config.scope_params.scope_separator}}','{{config.scope_params.default_scopes}}')"/>
            <a target="_blank" href='https://divedevhq.github.io/#connect-multiple-instances' > <input class="btn" type="button" value="Connect"/></a>
        </div>
    </form>
</div>

</body>
<script>
    function show_single(){
        document.getElementById("single").classList.remove("hide_element");
        document.getElementById("multiple").classList.add("hide_element");
    }
     function show_multiple(){
        document.getElementById("single").classList.add("hide_element");
        document.getElementById("multiple").classList.remove("hide_element");
    }

    function generate_scope(seperator,default_scopes){
    var checkedValues = default_scopes.split(seperator);
    var inputElements = document.getElementsByName('generate_object_scopes');

    for(var i=0; i<inputElements.length; i++){

      if(inputElements[i].checked){
          var values= inputElements[i].value.split(seperator);
           for (j=0;j<values.length;j++){
            checkedValues.push(values[j])
           }

          }
       }
       result=checkedValues.join(seperator)
       document.getElementById("scopes").innerHTML =result
    }


</script>
</html>