.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.connector-block{
  padding: 30px;
 
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-400 {
  font-weight: 400;
}


.d-inline-block {
  display: inline-block;
}

.bg-grey-200 {
  background-color: #eeeeee;
}

.color-grey-800 {
  color: #424242;
}

.color-grey-600 {
  color: #757575;
}

.color-grey-500 {
  color: #9e9e9e;
}

.border-radius-sm {
  border-radius: 4px;
}

.text-transform-capitalize {
  text-transform: capitalize;
}


.btn.btn-grey{
  background-color: #403f40;
  color: white;

  font-size: 0.875rem;
}


.btn.btn-blue{
  background-color: #2598d6;
  color: white;

  font-size: 0.875rem;
}


.btn.btn-blue-short{
  background-color: #2598d6;
  color: white;
  min-width: 120px;
  font-size: 0.875rem;
}


/* Navbar expanded */
.nav:hover {
  width: var(--nav-width);
}

/* Visible elements */
.nav:hover .nav__logo-name {
  opacity: 1;
}

.nav:hover .nav__subtitle {
  opacity: 1;
}

.nav:hover .nav__name {
  opacity: 1;
}

.nav:hover .nav__dropdown-icon {
  opacity: 1;
}



/*========== NAV ==========*/
.nav {
  position: fixed;
  top: 0;

  height: 100vh;
  padding: 1rem 1rem 0;
  background-color: var(--container-color);
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  z-index: var(--z-fixed);
  transition: .4s;
}

.nav__container {
  height: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  overflow: auto;
  scrollbar-width: none;
  /* For mozilla */
}

/* For Google Chrome and others */
.nav__container::-webkit-scrollbar {
  display: none;
}

.nav__logo {
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.nav__list,
.nav__items {
  display: grid;
}

.nav__list {
  row-gap: 2.5rem;
}

.nav__items {
  row-gap: 1.5rem;
}

.nav__subtitle {
  font-size: var(--normal-font-size);
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: var(--text-color-light);
}

.nav__link {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.2rem;
  margin-right: .5rem;
}

.nav__name {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  white-space: nowrap;
}

.nav__logout {
  margin-top: 5rem;
}

/* Dropdown */
.nav__dropdown {
  overflow: hidden;
  max-height: 21px;
  transition: .4s ease-in-out;
}

.nav__dropdown-collapse {
  background-color: var(--first-color-light);
  border-radius: .25rem;
  margin-top: 1rem;
}

.nav__dropdown-content {
  display: grid;
  row-gap: .5rem;
  padding: .75rem 2.5rem .75rem 1.8rem;
}

.nav__dropdown-item {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}

.nav__dropdown-item:hover {
  color: var(--first-color);
}

.nav__dropdown-icon {
  margin-left: auto;
  transition: .4s;
}

/* Show dropdown collapse */
.nav__dropdown:hover {
  max-height: 100rem;
}

/* Rotate icon arrow */
.nav__dropdown:hover .nav__dropdown-icon {
  transform: rotate(180deg);
}

/*===== Show menu =====*/
.show-menu {
  left: 0;
}

/*===== Active link =====*/
.active {
  color: var(--first-color);
}

.cursor-pointer {
  cursor: pointer;
}

.main-content {
  margin: auto;
  width: 70%;
  margin-top: 60px;
  margin-left:250px;
}

.active-menu{
  background-color: #2598d6;
  color:white;
  padding:2px;
  width: 150px;
}

.inactive-menu{
  padding:2px;
  width: 150px;
}


.svg-icon svg {
  position: relative;
  height: 1.5em;
  width: 1.5em;
}

.svg-text svg {
  stroke: #424242;
}

.svg-icon-xlg svg {
  position: relative;
  height: 2.25em;
  width: 2.25em;
}

.svg-icon-sm svg {
  position: relative;
  height: 1.25em;
  width: 1.25em;
}

.fr {
  float: right;
}


.mt-1 {
  margin-top: 0.02rem;
}

.mt-4 {
  margin-top: 0.08rem;
}

.mr-4 {
  margin-right: 0.4rem;
}


.mt-5 {
  margin-top: 0.1rem;
}

.mr-5 {
  margin-right: 0.5rem;
}

.ml-5 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.3rem;
}

.mr-6 {
  margin-right: 0.8rem;
}



.mt-2 {
  margin-top: 0.05rem;
}

.mr-2 {
  margin-right: 0.25rem;
}

.mt-3 {
  margin-top: 0.07rem;
}

.mr-3 {
  margin-right: 0.35rem;
}

.red-text{
  color: red;
}

.form-control-normal {

  display: inline;
  white-space: pre-wrap;
  border: 1px solid #9e9e9e;
  padding: 0.5rem;

  font-size: 1rem;
  border-radius: 4px;
  resize: none;
  background-color: white;
  box-sizing: border-box;
  flex: 1 1 auto;
}


.form-control-long {
  max-width: 275px;
  display: inline;
  white-space: pre-wrap;
  border: 1px solid #9e9e9e;
  padding: 0.5rem;

  font-size: 1rem;
  border-radius: 4px;
  resize: none;
  background-color: white;
  box-sizing: border-box;
  flex: 1 1 auto;
}

.form-control-short{
  max-width: 175px;
  display: inline;
  white-space: pre-wrap;
  border: 1px solid #9e9e9e;
  padding: 0.5rem;

  font-size: 1rem;
  border-radius: 4px;
  resize: none;
  background-color: white;
  box-sizing: border-box;
  flex: 1 1 auto;
}

.text-copy{
  background-color: #eeeeee;
}

.json-copy{
  background-color: #eeeeee;
  padding: 5px;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

[simple-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

[simple-title]:after {
  content: attr(simple-title);
  background-color: #424242;
  color: white;
  font-size: 85%;
  position: absolute;
  padding: 1px 1px 1px 1px;
  bottom: -2.0em;
  left: 0%;
  white-space: nowrap;
  /*box-shadow: 1px 1px 1px #222222;*/
  opacity: 0;
  border: 1px solid #111111;
  z-index: 99999;
  visibility: hidden;
}

[simple-title] {
  position: relative;
}

.small-grey-text {

  color: #7F7F7F;

  font-size: 0.875rem;

}

.text-placeholder {
  color: #757575 !important;
}

.svg-light-gray svg {
  stroke: #a79a9a;
}

.shadow-5 {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.12),
    0 4px 6px rgba(0, 0, 0, 0.12), 0 8px 16px rgba(0, 0, 0, 0.12),
    0 16px 32px rgba(0, 0, 0, 0.12);
}

.bg-white {
  background-color: white;
}

.border-radius-md {
  border-radius: 5px;
}

.option-input {
  width: 100%;
  font-size: 1rem;
  border: none;
  color: #757575;
  background-color: transparent;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}


.svg-icon-xm svg {
  position: relative;
  height: 1em;
  width: 1em;
}


.filter-select {
  white-space: pre-wrap;
  border: 1px solid #9e9e9e;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  max-width: 275px;

  resize: none;
  background-color: white;
  box-sizing: border-box;
  flex: 1 1 auto;
}


.list-search-input {
  width: 180px;
  height: 30px;
  font-size: 1rem;
  border: 0px;
  background-color: #eeeeee;
  border-radius: 5px;
  display: inline;
  white-space: pre-wrap;

  padding: 0.5rem;
  resize: none;
  background-color: white;
  box-sizing: border-box;
  flex: 1 1 auto;
}

.small-font{
  font-size: 0.875rem;
}


.login-content {
 float:right;
  width: 70%;
  margin-top: 100px;
  margin-right: 0px;
 
}

.logo-content{
  float:left;
  width: 70%;
  margin-left: 80px;
  margin-top: 150px;
}



.c-egTDuJ-cmFMMs-color-primary {
  background-color: #403f40 !important;
  color: white !important;
  border-color: #403f40 !important;
}


.logo {
  vertical-align: top;
  display: inline-block;
  text-align: center;
 
}
.logo-image {
  width: 100px;
 
  
}
.logo-text {
  width: 300px;
  margin-top: 50px;
  display: block;
  color: #403f40;
  font-weight: 600;
  font-size: 20px;
}